*.sfc
*.smc
lm333
lm333/*.exe
lm333/*.chm
lm333/*.txt
x64
Lunar*.exe
level_reader
reader

lc190/*
level_reader2
levelname_extractor3a.py
levelname_extractor4.py
lm361
sysLMRestore
temp2.txt2
temp3.txt
testrom
testset2
expected_lm361*.txt
