network_cmd_enable = "true"
network_cmd_port = 55355
input_confirm_quit = "false"
input_exit_emulator = "escape"
quit_press_twice = "false"
pause_nonactive = "false"
run_ahead_frames = "2"
run_ahead_enabled = "false"
preemptive_frames_enable = "false"
video_threaded = "false"
video_max_swapchain_images = "2"
video_vsync = "true"
audio_latency = "48"
rewind_enable = "false"
video_swap_interval = "1"
audio_sync = "true"
audio_rate_control = "true"
audio_max_timing_skew = "0.05"
video_frame_delay = "0"


