*.7z
*.txt
flisting.json
done
findtranslevels
bpsindex_initial
lm361
*.exe
*.sfc
newindex/
zips/
zips_1/
redo/
x/
games/
bpsindex/*.json
bps/

upload/
images/
extras/
old/
extras.dopne
extras.done/
lml363/
upload_list
